<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413068111620-3ht2t863u56hdqmdl3ddm4a8nt302bq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413068111620-3ht2t863u56hdqmdl3ddm4a8nt302bq6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>413068111620-5bt6fsr9ipr1itqamvcbecbq1c4728t3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABAD3vwg9Vx2TumwRMEf2RjKreg41Wg8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>413068111620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alesapps.islamik</string>
	<key>PROJECT_ID</key>
	<string>islamik-by-kaotech</string>
	<key>STORAGE_BUCKET</key>
	<string>islamik-by-kaotech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413068111620:ios:3d68288a4876ae0b40ea51</string>
	<key>DATABASE_URL</key>
	<string>https://islamik-by-kaotech.firebaseio.com</string>
</dict>
</plist>